/**
 * -----------------------------------------------------------------------------
 *   $TYPOGRAPHY
 * -----------------------------------------------------------------------------
 */


@font-face {
    font-family: 'Origin';
    src: url('../fonts/origin-regular-webfont.eot');
    src: url('../fonts/origin-regular-webfont?#iefix') format('embedded-opentype'),
         url('../fonts/origin-regular-webfont.woff') format('woff'),
         url('../fonts/origin-regular-webfont.ttf') format('truetype'),
         url('../fonts/origin-regular-webfont.svg#proxima_nova_rgregular') format('svg');
    font-weight: normal;
}
