<ul class="selectable-list js-player-list">
    {{#each players}}
        <li class="selected">
            <img src="{{photo}}" title="Player: {{name}}" alt="Player: {{name}}" class="thumbnail" />
        </li>
    {{/each}}
</ul>
