<ul class="block-list">
    {{#each players}}
        <li class="media">
            <img src="{{photo}}" title="Player: {{name}}" alt="Player: {{name}}" class="thumbnail media-img" />
            <p class="media-body text-thumbnail">{{score}}</p>
        </li>
    {{/each}}
</ul>
