<ul class="scorebuttons-list js-scorebuttons-list">
    <li class="js-left-scorebutton">
        <img src="{{leftPlayer.photo}}" alt="{{ leftPlayer.name }}" class="thumbnail" />
    </li>
	<li>vs</li>    
    <li class="js-right-scorebutton">
        <img src="{{rightPlayer.photo}}" alt="{{ rightPlayer.name }}" class="thumbnail" />
    </li>
</ul>
