/**
 * -----------------------------------------------------------------------------
 *   $ICONLIST
 * -----------------------------------------------------------------------------
 */

.icon-list {
    @extend .cf;

    margin: 0 auto;
    margin-bottom: $base-spacing-unit;

    > li {
        @include box-sizing();
        cursor: pointer;
        float: left;
        margin-right: $base-spacing-unit;
        margin-bottom: $half-base-spacing-unit;
        min-width: $thumbnail-size;

        &:last-child {
            margin-right: 0;
        }
    }
}

.icon-list-small {
    > li {
        min-width: ($thumbnail-size / 3) * 2;
    }
}
