/**
 * -----------------------------------------------------------------------------
 *   $SELECTABLELIST
 * -----------------------------------------------------------------------------
 */

.selectable-list {
    @extend .cf;

    margin: 0 auto;

    > li {
        @include box-sizing();
        cursor: pointer;
        float: left;
        opacity: .1;
        margin-right: $base-spacing-unit;
        min-width: $thumbnail-size;

        &:last-child {
            margin-right: 0;
        }
    }

    > li.selected {
        opacity: 1;
    }
}

