/**
 * -----------------------------------------------------------------------------
 *   $TEXT
 * -----------------------------------------------------------------------------
 */

.text-large {
    font-size: 6em;
}

.text-centered {
    text-align: center;
}

.text-clickable {
    cursor: pointer;
}

.text-rose-dark {
    color: $color-rose-dark;
}
