/**
 * -----------------------------------------------------------------------------
 *   $THUMBNAILS
 * -----------------------------------------------------------------------------
 */

.thumbnail {
    border: 2px solid $color-white;
    border-radius: $thumbnail-size / 2;
    max-width: $thumbnail-size;
    display: block;
    margin-bottom: $base-spacing-unit;
}

.thumbnail-small {
    max-width: ($thumbnail-size / 3) * 2;
}
