	<!doctype html>
	<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
	<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
	<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
	<!--[if gt IE 8]><!--> <html lang="en-gb"> <!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

		<title>Moov2 Love Foosball</title>
		<meta name="description" content="">
		<meta name="author" content="">

		<meta name="viewport" content="width=device-width">

		<meta name="apple-mobile-web-app-capable" content="yes">

		<link rel="stylesheet" href="/assets/css/styles.css" />

		<script data-main="assets/js/config" src="assets/js/vendor/require.js"></script>
	</head>
	<body>
		<div class="wrap js-app"></div>
	</body>
</html>
